fastapi
uvicorn[standard]
motor # Added Motor for Async DB
python-dotenv
python-jose[cryptography]
email-validator
google-generativeai
apscheduler
httpx
bcrypt==3.2.0
passlib==1.7.4
pywebpush
python-multipart
qrcode[pil]==7.4.2
pypdf
duckduckgo-search
tweepy
python-slugify