fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
python-jose[cryptography]
email-validator
google-generativeai
apscheduler
httpx
bcrypt==3.2.0
passlib==1.7.4
pywebpush
httpx
python-multipart
qrcode[pil]==7.4.2
llama-index==0.11.10





