fastapi
uvicorn[standard]
pymongo[srv]
python-dotenv
python-jose[cryptography]
email-validator
google-generativeai
apscheduler
httpx
bcrypt==3.2.0
passlib==1.7.4
pywebpush
httpx
python-multipart
qrcode[pil]==7.4.2
# --- AI + LlamaIndex Stack ---
llama-index==0.11.21  
llama-index-core==0.11.21  
llama-index-embeddings-huggingface==0.11.21  
llama-index-llms-openai==0.11.21  
sentence-transformers==3.0.1  
torch>=2.2.0  
transformers>=4.44.0  
requests==2.32.3  
pydantic==2.8.2
